body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    box-sizing: border-box;
    margin: 1em auto;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

.title img {
    width: 4em;
    height: 4em;
}

.title {
    display: flex;
    justify-content: center;
}

#search img {
    max-width: 1em;
    justify-content: right;
    margin: .1em;
}

#search {
    max-width: 70%;
    margin: 1em auto;
    border: solid black 1px;
    border-radius: 5px;
    padding: .1em;
    display: flex;
}

#search-bar {
    width: 100%;
    height: 1em;
    border: none;
    margin: .1em;
}

hr {
    border: none;
    border-top: 1px solid darkgray;
    margin: 1em 0;
}

.recipe-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 70%;
    border: solid black 1px;
    border-radius: 5px;
    padding: 1em;
    margin: 1em auto;
}

.recipe-card img {
    margin: 0;
    width: 100%;
}

.recipe-card h2 {
    margin: 0;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.tags p {
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer {
    display: flex;
    max-width: 70%;
    margin: 1em auto;
    flex-direction: column;
    align-items: center;
}

.social img {
    width: 2em;
}

@media screen and (min-width: 730px) {
    .recipe-card {
        flex-direction: row;
        align-items: center;
    }

    .recipe-card img {
        max-width: 50%;
    }

    .card-info {
        margin: auto 1em;
    }

    .social {
        justify-content: right;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}