body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:50%
}

.highlight {
    background-color: salmon;
}

header > h1 {
    margin-bottom: 0;
}

header > h2 {
    font-size: 1em;
    margin-top: 0;
}

header {
    background-color: navy;
    padding: 1em;
    color: white;
}